%svg-common {
	background: url("svg/sprite.view-a54b33e6.svg") no-repeat;
}

.svg-icons-021-twitter {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icons-021-twitter-dims {
	width: 32px;
	height: 32px;
}

.svg-icons-031-simpleArrowLeft {
	@extend %svg-common;
	background-position: 50% 0;
}

.svg-icons-031-simpleArrowLeft-dims {
	width: 32px;
	height: 32px;
}

.svg-icons-032-simpleArrowTop {
	@extend %svg-common;
	background-position: 0 50%;
}

.svg-icons-032-simpleArrowTop-dims {
	width: 32px;
	height: 32px;
}

.svg-icons-033-simpleArrowRight {
	@extend %svg-common;
	background-position: 50% 50%;
}

.svg-icons-033-simpleArrowRight-dims {
	width: 32px;
	height: 32px;
}

.svg-icons-034-simpleArrowBottom {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-icons-034-simpleArrowBottom-dims {
	width: 32px;
	height: 32px;
}

.svg-icons-049-sg {
	@extend %svg-common;
	background-position: 100% 50%;
}

.svg-icons-049-sg-dims {
	width: 32px;
	height: 32px;
}

.svg-icons-074-github {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icons-074-github-dims {
	width: 32px;
	height: 32px;
}

