header(class=`${prefix}-header`)
  a(href=basedir title="Retour à l'accueil Samuel Gomez")
    h2(class=`${prefix}-header__title`) Samuel Gomez
      span(class=`${prefix}-header__sstitle`) Développeur Web