/* Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
$font-family-base: -apple-system, BlinkMacSystemFont, 'Open sans', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;
$font-family-headings: 'Times New Roman', Times, serif;
$font-size-base: 1.6rem !default;

/* Colors */
$color-axa: #00008f !default;
