$height: 80vh;
$width: 100vw;
.#{$prefix} {
  &-slider {
    &__list {
      height: $height;
      @include hcenterer;
      position: relative;
      list-style-type: none;
      padding: 0;
      &-item {
        width: $width/2;
        height: 100%;
        opacity: 0.25;
        position: absolute;
        left: 25%;
        border-radius: 2px;
        background: #9c89b8;
        transition: transform 1s, opacity 1s;
        &--act {
          opacity: 1;
        }
        &--next,
        &--prev {
          cursor: pointer;
        }
        &--hide,
        &--new-next {
          opacity: 0;
          transition: opacity 0.5s, transform 0.5s;
        }
        &--hide {
          transform: translateX(-50vw) scale(0.85);
        }
        &--prev {
          transform: translateX(-25vw) scale(0.85);
        }
        &--next {
          transform: translateX(25vw) scale(0.85);
        }
        &--new-next {
          transform: translateX(50vw) scale(0.85);
        }
      }
    }
    &__swipe {
      @include centerer;
      width: $width;
      height: $height;
      background-color: green;
      border-radius: 2px;
      opacity: 0;
    }
  }
}
